* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

li {
        list-style: none;
}

.green {
        color: #00c5a7;
}

a {
        text-decoration: none;
        color: white;
}