.header-navbar {
        background-color: #00c5a7;
        color: white;
        padding: 23px;
        font-family: "Lato", sans-serif;
}

.navbar-elements {
        display: flex;
        flex-direction: space-around;
        justify-content: center;
        cursor: pointer;
        gap: 20px;
}


.navbar-element:hover {
        color: #1d1b1b;
        opacity: 50%;
} 

.navbar-logo {
        color: #1d1b1b;
        font-weight: 900;
}

.navbar-element {
        font-weight: 400;
}

.get-start-menu {
        font-weight: 900;
        border: none;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
        background-color: #1d1b1b;
        color: #00c5a7;
        border-radius: 20px;
        font-size: 16px;
}